@import "../../../global.scss";
.portfolio{
  background-image: radial-gradient(#ffffff, #cfcece);

}

.table{
  animation: 1s ease-out 0s 1 slideInFromUp;
    background-color: rgb(255, 255, 255);
    display: "block";
    height: 45vh;
    width: 50%;
    z-index: 3;
    transition-duration: 4s;
    border-radius: 50px;
    box-shadow: 0px 0px 60px 2px rgba(102, 102, 102, 0.8);
    margin: 60px 10px;
}
.sectioni{
  background-color: rgb(255, 255, 255);
  margin: 100px 10px;
  height: 50vh;
  width: 20%;
  z-index: 3;
  left: 0px;
  position: fixed;
  border-radius: 50px;
  transition-duration: 4s;
  transition-delay: 2s;
  transition-property: opacity, left;
  transition-duration: 3s, 5s, 2s, 1s;
  box-shadow: 0px 0px 10px 2px rgba(175, 175, 175, 0.8);
  animation: 1s ease-out 0s 1 slideInFromLeft;


}
  .radiologist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25%;
    width: 30%;
    border-radius: 100px;
    margin: 30px 115px;
    box-shadow: 0px 0px 10px 2px rgba(112, 7, 7, 0.8);

  }
  @keyframes slideInFromLeft {
    0% {
      transform: translatex(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slideInFromUp {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .mainapp{
    animation: 1s ease-out 0s 1 slideInFromUp;
    background-color: rgb(255, 255, 255);
    
    height: 60vh;
    width: 50%;
    z-index: 3;
    transition-duration: 4s;
    border-radius: 0px;
    box-shadow: 0px 0px 60px 2px rgba(102, 102, 102, 0.8);
    margin: 10px 10px;

    
  }
  
    

  .name{
    height: 5%;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .scans{

    height: 5%;
  text-align: center;
  color: rgb(17, 17, 17);

  }

  .patnum{
    height: 5%;
    text-align: center;
    color: rgb(0, 0, 0);

  }
  .button2 {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 40px 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    transition: all .5s ease;
    cursor: pointer;

    


    @include mobile{
      width: 130px;
      height: 100px;
    }

    h3 {
      position: absolute;
      font-size: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &:hover {
      background-color: $mainColor;
      img {
        opacity: 0.2;
        z-index: 0;
      }
    }
  }
.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    @include mobile{
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile{
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.button1 {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 500px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    transition: all .5s ease;
    cursor: pointer;
    


    @include mobile{
      width: 130px;
      height: 100px;
    }

    h3 {
      position: absolute;
      font-size: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &:hover {
      background-color: $mainColor;
      img {
        opacity: 0.2;
        z-index: 0;
      }
    }
  }

  .button3 {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 500px 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    transition: all .5s ease;
    cursor: pointer;
    


    @include mobile{
      width: 130px;
      height: 100px;
    }

    h3 {
      position: absolute;
      font-size: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &:hover {
      background-color: $mainColor;
      img {
        opacity: 0.2;
        z-index: 0;
      }
    }
  }

  
  .b2 {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    transition: all .5s ease;
    cursor: pointer;

    


    @include mobile{
      width: 130px;
      height: 100px;
    }

    h3 {
      position: absolute;
      font-size: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &:hover {
      background-color: $mainColor;
      img {
        opacity: 0.2;
        z-index: 0;
      }
    }
  }
.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    @include mobile{
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile{
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.button4 {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 500px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    transition: all .5s ease;
    cursor: pointer;
    


    @include mobile{
      width: 130px;
      height: 100px;
    }

    h3 {
      position: absolute;
      font-size: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &:hover {
      background-color: $mainColor;
      img {
        opacity: 0.2;
        z-index: 0;
      }
    }
  }
  
.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    @include mobile{
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile{
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile{
      width: 100%;
    }

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all .5s ease;
      cursor: pointer;

      @include mobile{
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}