@import "../../global.scss";

.portfolios{
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px #888888;

}
.button1prof {
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid rgb(240, 239, 239);
  margin: 100px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  transition: all .5s ease;
  cursor: pointer;

  
  h3 {
    position: absolute;
    font-size: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &:hover {
    background-color: $mainColor;
    img {
      opacity: 0.2;
      z-index: 0;
    }
  }
}
.button2prof {
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid rgb(240, 239, 239);
  margin: 200px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  transition: all .5s ease;
  cursor: pointer;
  


  @include mobile{
    width: 130px;
    height: 100px;
  }

  h3 {
    position: absolute;
    font-size: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &:hover {
    background-color: $mainColor;
    img {
      opacity: 0.2;
      z-index: 0;
    }
  }
}

.button3prof {
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid rgb(240, 239, 239);
  margin: 300px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  transition: all .5s ease;
  cursor: pointer;
  


  @include mobile{
    width: 130px;
    height: 100px;
  }

  h3 {
    position: absolute;
    font-size: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &:hover {
    background-color: $mainColor;
    img {
      opacity: 0.2;
      z-index: 0;
    }
  }
}

.button4prof {
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid rgb(240, 239, 239);
  margin: 400px 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  transition: all .5s ease;
  cursor: pointer;
  


  @include mobile{
    width: 130px;
    height: 100px;
  }

  h3 {
    position: absolute;
    font-size: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &:hover {
    background-color: $mainColor;
    img {
      opacity: 0.2;
      z-index: 0;
    }
  }
}
